<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kermitye.umenglib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:supportsRtl="true"
            android:allowBackup="true">

        <activity
                android:name=".wxapi.WXEntryActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>


